<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body><!-- set class="dark" on body tag for DARK-THEME -->

<div layout:fragment="content">
  <main class="site-wrapper">
    <div class="pt-table">
      <div class="pt-tablecell page-home relative" style="background-image: url('/phantom-main/theme/images/banner.jpg');">
        <div class="overlay"></div>

        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">

              <div class="hexagon-menu clear">
                <div class="hexagon-item">
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <a href="seller/items/outer" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <img src="https://img.icons8.com/carbon-copy/50/null/lab-coat.png"/>
                    </span>
                    <span class="title text-black">아우터</span>
                  </span>
                  </a>
                </div>
                <div class="hexagon-item">
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <a href="/items" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <img src="https://img.icons8.com/ios/50/null/clothes.png"/>
                    </span>
                    <span class="title text-black">상의</span>
                  </span>
                  </a>
                </div>
                <div class="hexagon-item">
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <a href="/items" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <img src="https://img.icons8.com/dotty/50/null/long-shorts.png"/>
                    </span>
                    <span class="title text-black">하의</span>
                  </span>
                  </a>
                </div>
                <div class="hexagon-item">
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <a href="/items" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <img src="https://img.icons8.com/carbon-copy/50/null/trilby.png"/>
                    </span>
                    <span class="title text-black">악세사리</span>
                  </span>
                  </a>
                </div>
                <div class="hexagon-item">
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <a href="/chat" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                       <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/50/null/external-chatting-chat-flatart-icons-outline-flatarticons-2.png"/>
                    </span>
                    <span class="title text-black">채팅</span>
                  </span>
                  </a>
                </div>
                <div class="hexagon-item">
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <a href="/" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <img src="https://img.icons8.com/ios/50/null/supplier.png"/>
                    </span>
                    <span class="title text-black">현황</span>
                  </span>
                  </a>
                </div>
                <div class="hexagon-item">
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="hex-item">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <a href="/inquiry" class="hex-content">
                  <span class="hex-content-inner">
                    <span class="icon">
                      <img src="https://img.icons8.com/ios/50/null/new-post.png"/>
                    </span>
                    <span class="title text-black">문의</span>
                  </span>
                  </a>
                </div>
              </div> <!-- /.hexagon-menu -->

            </div> <!-- /.col-xs-12 -->

          </div> <!-- /.row -->
        </div> <!-- /.container -->

      </div> <!-- /.pt-tablecell -->
    </div> <!-- /.pt-table -->
  </main> <!-- /.site-wrapper -->
</div>


</body>
</html>
